body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

#kalkulator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: url(leo-wieling-bG8U3kaZltE-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


button {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e0e0e0;
}

td {
    padding: 5px;
}

td:nth-child(4) button {
    background-color: #ff9500;
    color: white;
}

button:active {
    background-color: #ccc;
}